{% extends 'base.html' %}
{% load static %}

{% block content2 %}
    <!-- Windows dimensions -->
    <div class="container-2">
        <h1>Choose window dimensions</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="param">
                <label for="width">Width</label>
                <input type="number" id="window-width" name="width" placeholder="150">
                <p>mm</p>
            </div>
            <div class="param">
                <label for="height">Height</label>
                <input type="number" id="window-height" name="height" placeholder="225">
                <p>mm</p>
            </div>
            <div class="param">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" placeholder="0">
            </div>
            <div class="element-types">
                <!-- Update window types here -->
            </div>
            <div class="param" id="add-type">
                <button type="button" id="add-type-btn">Add Window Type</button>
            </div>
            <img src="{% static 'images/Window.png' %}" width="20%" style="transform: translateY(-130px);">
            <p id="window-width-dim">150 mm</p>
            <p id="window-height-dim">225 mm</p>
            <div class="buttons">
                <a href="{% url 'door-params' %}"><button type="button">Back</button></a>
                <a href="{% url 'openings-params' %}"><button type="button">Next</button></a>
            </div>
        </form>
    </div>
{% endblock content2 %}